<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./css/style.css">
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
      <link rel="icon" href="favicon.ico" />
      <title>Ratpi Gang Studio</title>
</head>
<body id="body404" class="flex-column-align-center">
      <nav class="nav-leave">
            <a href="/"><i class="fas fa-sign-out-alt"></i>leave</a>
      </nav>

      <h1>Vous quittez le systeme BeCodia</h1>
      <h3>Status 404</h3>

      <img src="./img/earth.png" alt="">

      <script src="https://kit.fontawesome.com/126bbe9047.js" crossorigin="anonymous"></script>
</body>
</html>