<!DOCTYPE html>
<html lang="fr">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./css/style.css">
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
      <link rel="icon" href="favicon.ico" />
      <title>Ratpi Gang Studio</title>
</head>
<body id="adv-body" class="flex-column">

      <nav class="nav-leave">
            <a href="/"><i class="fas fa-sign-out-alt"></i>leave</a>
        </nav>

      <h1 id="h1-adv">Avertissement</h1>

      <div class="p-container">
            <p>Vous vous apprêtez pour votre voyage, tâchez de ne pas oublier ces quelques consignes.</p>
            <p>Souvenez-vous, il n'y a aucune garantie de retour.</p>
      </div>
      
      <div id="tutorial" class="flex-row-around-w">
            <figure id="figure-touch">
                  <img src="../img/touch.jpg" alt="">
            </figure>
            <nav class="flex-column-center-now">
                  <ul>
                        <li><a href="/leaderboard">Trophees</a></li>
                        <li><a href="/com">communication</a></li>
                        <li id="start-link"><a href="/game">Let's Go</a></li>
                  </ul>
            </nav>
      </div>
      
      <script src="https://kit.fontawesome.com/126bbe9047.js" crossorigin="anonymous"></script>
</body>
</html>