<!DOCTYPE html>
<html lang="fr">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./css/style.css">
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
      <link rel="icon" href="favicon.ico" />
      <title>Ratpi Gang Studio</title>
</head>
<body id="chat-body" class="flex-column-align-center">

      <nav class="nav-leave">
            <a href="/adv"><i class="fas fa-sign-out-alt"></i>leave</a>
        </nav>

      <h1 id="h1-adv">communication</h1>

      <section id="chatbox">
            <ul id="messenger"></ul>
      </section>

      <form action="" method="POST" class="flex-row-around-w">
            <input type="text" name="messageToSend" id="messageToSend" placeholder="Write your message ...">
            <input type="submit" value="Send" id="sendBtn">
      </form>
      
      <script src="https://kit.fontawesome.com/126bbe9047.js" crossorigin="anonymous"></script>
      <script src="/socket.io/socket.io.js"></script>  
      <script src="./js/chat.js"></script>
</body>
</html>